body {
	font-family: helvetica, arial, verdana, sans-serif;
	background-color:white;
	margin:0;
	padding:0;
	height:100%;
}

#header-wrap {
	top:0;
	background-color:#f0f0f0;
	border-bottom-style:solid;
	border-color:#E46C0A;
	border-width:1px;
}

#header {
	margin:0px auto;
	width:95%;
	padding:5px;
}

#title {
	font-size:56px;
	font-family:"Agency FB";
}

#social {
	color:#E46C0A;
}

#signOut {
	float:right;
	background-color:#D44937;
	padding:8px;
	color:white;
	font-weight:bold;
}

#inner-wrap {
	top:80px;
	bottom:80px;
	left:80px;
	right:80px;
	width:1110px;
	height:630px;
	margin:0px auto;
	padding:15px;
}

#sidebar {
	float:left;
	width:250px;
	height:600px;
	padding:0px;
	border-radius:8px;
}

#circlesTitleDiv {
	padding:15px;
	font-size:24px;
}

#circles {
	padding:15px;
}

#circleButtons {
	text-align:center;
}

#compareButton {
	background-color:lightBlue;
	padding:8px;
	color:black;
}

#scheduleButton {
	background-color:lightBlue;
	padding:8px;
	color:black;
}

#content {
	background-color:white;
	border-radius:8px;
	width:749;
	height:600px;
	padding:15px;
	float:right;
}

#footer-wrap {
	bottom:0;
	background-color:#f0f0f0;
	width:100%;
	border-top-style:solid;
	border-color:#E46C0A;
	border-width:1px;
}

#footer {
	font-family:arial;
	font-size:14px;
	color:grey;
	text-align:center;
	width:1024px;
	margin:0px auto;
	padding:15px;
}