body {
	font-family: helvetica, arial, verdana, sans-serif;
	background-color:#c0deed;
}

#container
{
	width:1024px;
	margin:0px auto;
}

#header
{
	background-color:white;	
	border-radius:8px;
	margin:5px;
	padding:15px;
}

#logOut
{
	float:right;
}

#title
{
	font-size:48px;
	font-family:arial;
}

#sidebar
{
	width:140px;
	height:auto;
	float:left;
	padding:15px;
	border-radius:8px;
	background-color:white;
	margin:5px;
}

#content
{
	float:right;
	border-radius:8px;
	margin:5px;
	padding:15px;
	background-color:white;
}

#footer
{
	clear:both;
	border-radius:8px;
	margin:5px;
	padding:15px;
	background-color:white;
}