html {
	height:100%;
}

body {
	font-family: helvetica, arial, verdana, sans-serif;
	background-color:#c0deed;
	margin:0;
	padding:0;
	height:100%;
}

#wrap {
	min-height:100%;
	position:relative;
}

#header-wrap {
	top:0;
	background-color:white;
	width:100%;
}

#header {
	width:1024px;
	margin:0px auto;
	padding:15px;
}

#title {
	font-size:48px;
}

#signOut {
	float:right;
}

#inner-wrap {
	top:80px;
	bottom:80px;
	width:1024px;
	height:630px;
	margin:0px auto;
	padding:15px;
}

#sidebar {
	float:left;
	width:200px;
	height:600px;
	background-color:white;
	border-radius:8px;
	padding:15px;
}

#content {
	background-color:white;
	border-radius:8px;
	width:749;
	height:600px;
	padding:15px;
	float:right;
}

#footer-wrap {
	bottom:0;
	background-color:white;
	width:100%;
}

#footer {
	text-align:center;
	width:1024px;
	margin:0px auto;
	padding:15px;
}