<html>
	<head>
		<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
		
		<script src="js/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
		<link href="style/style.css" rel="stylesheet" type="text/css">
		<script>
		$(document).ready(function() {
			$("#content").tabs();
			$(".dateTimePicker").datetimepicker({
				ampm: true
			});
			$(".timePicker").timepicker({ampm: true});
			$(".timeDurationPicker").timepicker({});
			$(".datePicker").datepicker();
		});
		</script>
	</head>
	<body>
		<div id="wrap">
			<div id="header-wrap">
				<div id="header">
					<a href="/"><img src="img/logo.png" /></a>
					<!-- span id="title"><span id="social">social</span><span id="planner">Planner</span></span>-->
					<button id="signOut">Sign Out</button>
				</div>
			</div>
			
			<div id="inner-wrap">
				<div id="content">
					<ul>
						<li><a href="#tabs-0">Calendar</a></li>
						<li><a href="#tabs-1">Find Shared Events</a></li>
						<li><a href="#tabs-2">Schedule an Event</a></li>
						<li><a href="#tabs-3">Find Friends Attending an Event</a>
					</ul>
					<div id="tabs-0">
						<iframe src="https://www.google.com/calendar/embed?wkst=1&amp;bgcolor=%23FFFFFF&amp;{{ calendarsString }}color=%23A32929&amp;ctz=America%2FNew_York"
						style="border-width:0" width="100%" height="90%" frameborder="0" scrolling="no"></iframe>
					</div>
					<div id="tabs-1">
						First, select the friends on the left you'd like to find common events with. Then, let us know the time range you'd like to look in.
						<br />
						Start: <input type="text"  value="" class="dateTimePicker" id="eventsStartTime" />
						End: <input type="text" value="" class="dateTimePicker" id="eventsEndTime" />
						<br />
						<input type="submit" id="findEventsButton" value="Go" />
						<div id="findEventsOutsideDiv" class="funcOutsideDiv">
							<div id='findEventsLoader' style='display:none'>
								<img src='img/loader.gif' />
							</div>
							<div id="findEventsResultsDiv" class="resultsDiv">
							<!--  nothing for now -->
							</div>
						</div>
					</div>
					<div id="tabs-2">
						First, select some friends on the left. Now:<br />
						I want to schedule an event some time between the hours of <input type="text"  value="" class="timePicker" id="timesStartTime" />
						and <input type="text" value="" class="timePicker" id="timesEndTime" />. I want this event to occur on 
						<input type="text" value="" class="datePicker" id="timesStartDate" /> or within the 					
						<input type="text" value="14" id="timesDateDuration" /> days following that. The event will last (hours: minutes) <input type="text" class="timeDurationPicker" id="timesDuration" />.
						<br />
						<input type="submit" id="findTimesButton" value="Go" />
						<div id="findTimesOutsideDiv" class="funcOutsideDiv">
							<div id='findTimesLoader' style='display:none'>
								<img src='img/loader.gif' />
							</div>
							<div id="findTimesResultsDiv" class="resultsDiv">
							<!--  nothing for now -->
							</div>
						</div>
					</div>
					<div id="tabs-3">
						Give us a time range and an event query, and you'll be on your way.
						<br />
						Start: <input type="text"  value="" class="dateTimePicker" id="eventsSearchStartTime" />
						End: <input type="text" value="" class="dateTimePicker" id="eventsSearchEndTime" />
						Event: <input type="text" id="findEventsSearchTextQuery" />
						<br />
						<input type="submit" id="findEventsSearchButton" value="Go" />
						<div id="findEventsSearchOutsideDiv" class="funcOutsideDiv">
							<div id='findEventsSearchLoader' style='display:none'>
								<img src='img/loader.gif' />
							</div>
							<div id="findEventsSearchResultsDiv" class="resultsDiv">
								<!-- initially empty -->
							</div>
						</div>
					</div>
				</div>
				
				<div id="sidebar">
					<div id="contactsTitleDiv">
						<span id="contactsTitle">Contacts</span>
						<br />
						<span id="contactsDescription">Select your friends here:</span>
					</div>
										
					<div id="contacts">
						{% if contactsLen == 0 %}
							You have no contacts on socialPlanner.
						{% else %}
							{% for contact in contacts %}
								<input class="contact" type="checkbox" value="{{ contact.email }}">{{ contact.name }}<br />
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
			
			<div id="footer-wrap">			
				<div id="footer">
					<span id="copyright">Copyright socialPlanner 2012</span> | 
					<a href="/about">About Us</a>
				</div>
			</div>
		</div>
		<div id="popupContact">
			<a id="popupContactClose" href="#">x</a>
			<h1>Title of popup</h1>
			<p id="contactArea">
				blahblah<br />
				<input type="text" value="" id="query" /><br />
				<span id="seethis"></span><br />
				Click on X in the top-right corner to close.
			</p>
		</div>
		<div id="backgroundPopup"></div>
		<script>
			//0 means disabled; 1 means enabled;
			$("#query").keyup(function() {
				$.post('/', {query: $("#query").val()}, function(data) {
					result = 'Matches:<br /><br />';
					$.each(data.matches, function(i, match) {
						result += match + '<br />';
					});
					$("#seethis").html(result);
				});
			});
			
			$(document).keydown(function(e) {
				if (e.keyCode == 27) {
					disablePopup();
				}
			});
			
			var popupStatus = 0;
			
			function loadPopup(){
				if (popupStatus == 0) {
					$("#backgroundPopup").css({
						"opacity": "0.7"
					});
					$("#backgroundPopup").fadeIn("slow");
					$("#popupContact").fadeIn("slow");
					popupStatus = 1;
				}
			}
			
			function disablePopup(){
				if(popupStatus==1) {
					$("#backgroundPopup").fadeOut("slow");
					$("#popupContact").fadeOut("slow");
					popupStatus = 0;
				}
			}
			
			function centerPopup(){
				var popupHeight = $("#popupContact").height();  
				var popupWidth = $("#popupContact").width(); 
// 				centering
				$("#popupContact").css({
					"position": "absolute",
					"top": $(window).height()/2-popupHeight/2,
					"left": $(window).width()/2-popupWidth/2	
				});
			}
			
			$("#compareButton").click(function() {
// 				centerPopup();
// 				loadPopup();
				$("#content").tabs().tabs('select', '#tabs-1');
			});
			
			$("#popupContactClose").click(function() {
				disablePopup();
			});
			
			$("#backgroundPopup").click(function() {
				disablePopup();
			});
		
			$("#signOut").click(function() {
				$.post('/signOut');
				window.location.href = "{{signOutUrl}}";
			});
			
			$("#scheduleButton").click(function() {
				var contacts = new Array();
				var i = 0;
				$("input:checked").each(function(index, value) {
					contacts[index] = value.value;
				});
				$.post('/scheduleEvent', {contacts: JSON.stringify(contacts)}, function(data) {
					$("#content").tabs().tabs('select', '#tabs-2');
					$("#tabs-2").html(data);
				});
			});
			
			$("#findEventsButton").click(function() {
				// make sure to do a check for valid start and end times
				var startTime = $("#eventsStartTime").val();
				var endTime = $("#eventsEndTime").val();
				var friends = [];
				$(".contact:checked").each(function() {
					friends.push($(this).val());
				});
				var query = {startTime: startTime,
							 endTime: endTime,
							 friends: friends};
				if (friends.length == 0) {
					alert("Please select at least one friend.")
				} else {
					// let user know that we are loading
					$("#findEventsResultsDiv").html('');
					$("#findEventsLoader").show();
					
					$.post('/findCommonEvents', {jsonData: JSON.stringify(query)}, function(data) {
						var html = "Results:<table id='findEventsResultsTable' class='resultsTable' width='100%'>";
						html += '<thead><tr><th>Name</th><th>Start</th><th>End</th></tr></thead><tbody>';
						for(var i = 0; i < data.length; i++) {
							var event = data[i];
							html += '<tr>';
							html += '<td>' + event.name + '</td>';
							html += '<td>' + event.startTime + '</td>';
							html += '<td>' + event.endTime + '</td>';
							html += '</tr>';
						}
						
						html += '</tbody></table>';
						$("#findEventsLoader").hide();
						$("#findEventsResultsDiv").html(html);
					});
				}
			});	
			
			$("#findTimesButton").click(function() {
				var startTime = $("#timesStartTime").val();
				var endTime = $("#timesEndTime").val();
				var startDate = $("#timesStartDate").val();
				var dateDuration = $("#timesDateDuration").val();
				var timesDuration = $("#timesDuration").val();
				var friends = [];
				$(".contact:checked").each(function() {
					friends.push($(this).val());
				});
				var query = {startTime: startTime,
							 endTime: endTime,
							 startDate: startDate,
							 dateDuration: dateDuration,
							 timesDuration: timesDuration,
							 friends: friends}
				// post the jQuery to the backend for results
				if (friends.length == 0) {
					alert("Please select at least one friend.")
				} else {
					$("#findTimesResultsDiv").html('');
					$("#findTimesLoader").show();
					
					$.post('/findCommonTimes', {jsonData: JSON.stringify(query)}, function(data) {
						var html = "Results:<table id='findTimesResultsTable' class='resultsTable' width='100%'>";
						html += '<thead><tr><th>Start time:</th><th>End time:</th><th></th></tr></thead><tbody>'
						for(var i = 0; i < data.length; i++) {
							var timeSlot = data[i];
							html += '<tr>';
							html += '<td>' + timeSlot.startTime + '</td>';
							html += '<td>' + timeSlot.endTime + '</td>';
							html += "<td><input type='submit' startTime='" + timeSlot.startTime + 
									"' endTime='" + timeSlot.endTime + 
									"' value='Schedule it' class='scheduleEventButton' /></td>";
							html += '</tr>';
						}
						html += '</tbody></table>';
						$("#findTimesLoader").hide();
						$("#findTimesResultsDiv").html(html);
					});
				}
			});
			
			$("#findEventsSearchButton").click(function() {
				// make sure to do a check for valid start and end times
				var startTime = $("#eventsSearchStartTime").val();
				var endTime = $("#eventsSearchEndTime").val();
				var eventQuery = $("#findEventsSearchTextQuery").val();
// 				var friends = [];
// 				$(".contact:checked").each(function() {
// 					friends.push($(this).val());
// 				});
				var query = {
					startTime: startTime,
					endTime: endTime,
					eventQuery: eventQuery
// 					friends: friends
				};
				
// 				if (friends.length == 0) {
// 					alert("Please select at least one friend.")
// 				} else {
					// let user know that we are loading
				$("#findEventsSearchResultsDiv").html('');
				$("#findEventsSearchLoader").show();
				
				$.post('/findEvents', {jsonData: JSON.stringify(query)}, function(data) {
					var html = "Results:<table id='findEventsSearchResultsTable' class='resultsTable' width='100%'>";
					html += '<thead><tr><th>Name</th><th>Owner</th><th>Start</th><th>End</th></tr></thead><tbody>';
					for(var i = 0; i < data.length; i++) {
						var event = data[i];
						html += '<tr>';
						html += '<td>' + event.name + '</td>';
						html += '<td>' + event.owner + '</td>';
						html += '<td>' + event.startTime + '</td>';
						html += '<td>' + event.endTime + '</td>';
						html += '</tr>';
					}
					
					html += '</tbody></table>';
					$("#findEventsSearchLoader").hide();
					$("#findEventsSearchResultsDiv").html(html);
				});
// 				}
			});
			
			$(".scheduleEventButton").live('click', function() {
				// ask for an event name
				var eventName = prompt("Give a name for the event:");
				var startTime = $(this).attr('starttime');
				var endTime = $(this).attr('endtime');
				var calId = 'default';
				var friends = [];
				$(".contact:checked").each(function() {
					friends.push($(this).val());
				});
				
				query = {
					startTime: startTime,
					endTime: endTime,
					calId: calId,
					eventName: eventName,
					friends: friends
				}
				
				$.post('/scheduleAnEvent', {jsonData: JSON.stringify(query)}, function(data) {
					alert('Scheduling successful');
				});
			});
		</script>
	</body>
</html>